body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    box-align:center;

}
/*Adding space between the span elements*/
span{
    padding: 0px 50px;
}

input[type=number]{
    margin-left:40px;
}

select{
    margin-left:10px;
}
button{
    margin:0px 50px;
}
